.logo {
  display: flex;
  align-items: center;
}
.logoImage {
  margin-right: 1.7rem;
}

.logoTitle {
  font-size: var(--font-size-5);
  line-height: var(--line-height-6);
  color: var(--color-grey-1);
  font-weight: var(--semi-bold-weight);
}

.logoSubptitle {
  font-size: var(--font-size-3);
  line-height: var(--line-height-2);
  color: var(--color-grey-2);
}